@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";



body {

  background-color: #fdba74;
}



.icon{
    @apply cursor-pointer mt-[10px]; 
}

.link{  
    @apply flex justify-center items-center w-[250px] m-[px] text-lg font-semibold rounded-xl 
         p-[10px] bg-orange-400 text-white shadow-md hover:bg-orange-600 hover:scale-95 
         transition-all duration-500;

}

.text{
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
    @apply text-white 
}

.conteinerLink{
    @apply flex flex-col items-center justify-center 
         flex-wrap 
         gap-3
         mt-[10px] 
         md:flex-row md:justify-center md:items-start 
         md:w-[600px] md:h-[350px] md:overflow-hidden 
         w-full h-auto;


}

